# =====================
# Ambiente virtual
# =====================
venv/
.venv/
env/
venv312/

# =====================
# Cache Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# OS / IDE
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
# Logs temporários
# =====================
*.log
*.tmp
